input.input-tyoe:checked img.img-type ~ label{
      border: 2444px solid black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.selected-img{
  box-sizing: border-box;
  border: 3px solid #7b61ff;
}

.input-error-css{
  border: 2px solid red;
}