.ppchirka-32px {
    font-family: 'PP Cirka';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

.ppchirka-25px {
    font-family: 'PP Cirka';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    /* or 25px */
}

.ppchirka-22px {
    font-family: 'PP Cirka';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    /* or 25px */
}

table {
    table-layout: fixed;
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
}

.no-tbb {
    border-top: none;
    border-bottom: none;

}

.wrapper {
    display: inline-flex;
    background: #fff;
    width: 240px;
    height: 37px;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper .option-b {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #000;
    /* border-top-left-radius: 4px; */
    /* border-bottom-left-radius: 4px; */
    border-right-style: none;
    transition: all 0.3s ease;
}

.wrapper .option-s {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* border-top-right-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
    justify-content: space-evenly;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #000;
    border-left-style: none;
    transition: all 0.3s ease;
}

.input-display-none {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
    border-color: #000;
    background: #71AD25;
}

/* 
.wrapper .option span {
    font-size: 20px;
    color: #808080;
} */

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
    color: #FFF;
    font-weight: bold;
}

.cell-green {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background: #9FFFA9;
    border-radius: 15px;
    font-size: 15px;
    max-width: fit-content;
    font-family: "Roboto Mono";
}

.cell-red {
    background: #FD9D9D;
    max-width: fit-content;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: 15px;
    font-family: "Roboto Mono";
}

.wrapper1 {
    display: inline-flex;
    background: #fff;
    width: 240px;
    height: 37px;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper1 .option-b1 {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #000;
    /* border-top-left-radius: 4px; */
    /* border-bottom-left-radius: 4px; */
    border-right-style: none;
    transition: all 0.3s ease;
}

.wrapper1 .option-s1 {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* border-top-right-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
    justify-content: space-evenly;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid #000;
    border-left-style: none;
    transition: all 0.3s ease;
}

.input-display-none1 {
    display: none;
}

#option-11:checked:checked~.option-11,
#option-21:checked:checked~.option-21 {
    border-color: #000;
    background: #71AD25;
}

/* 
.wrapper .option span {
    font-size: 20px;
    color: #808080;
} */

#option-11:checked:checked~.option-11 span,
#option-21:checked:checked~.option-21 span {
    color: #FFF;
    font-weight: bold;
}

.table-fields {
    text-align: center;
    font-family: 'PP Cirka';
    font-style: normal;
    font-size: large;
}

.bold-underline-advisory-css{
    text-decoration: underline;
    font-weight: 600;
}

.period-dropdown{
    -webkit-appearance: none;
  -moz-appearance: none;
    box-sizing: border-box;
    font-family: 'PP Cirka';
  font-style: normal;
  font-size: 20px;
  width: 300px;
  padding: 5px;
  padding-left: 10px;
  height: 40px;
  /* background: #FFFFFF; */
  border: 1px solid #000000;
}

select.period-dropdown{
    background-image:
      linear-gradient(45deg, transparent 50%, black 50%),
      linear-gradient(135deg, black 50%, transparent 50%),
      linear-gradient(to right, #000, #000);
    background-position:
      calc(100% - 20px) calc(1em - 02px),
      calc(100% - 15px) calc(1em - 02px),
      calc(100% - 2em) 0.25em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}